<h1>Download App</h1>

<p>
  We will send an SMS message to your
  phone with a download link to the app.
</p>

<form action="/send_sms" method="post">
  <div class="field">
    <label for="name">
      Your name
    </label>
    <input type="text" name="name">
  </div>

  <div class="field">
    <label for="number">
      Recipient phone number
    </label>
    <input type="text" name="number">
  </div>

  <div class="actions">
    <input type="submit" value="Continue">
  </div>
</form>
