<h1>
  The Best Mobile App &reg;
</h1>

<p>
  <% unless @browser.platform.ios? %>
    <a href="https://play.google.com/store/apps/details?id=com.imdb.mobile">
      <!-- place this image in a public/ folder -->
      <img src="google-play-badge.png" />
    </a>
  <% end %>

  <% unless @browser.platform.android? %>
    <a href="https://geo.itunes.apple.com/us/app/google-official-search-app/id284815942">
      <!-- place this image in a public/ folder -->
      <img src='app-store-badge.svg' />
    </a>
  <% end %>

  <% unless @browser.platform.ios? ||
            @browser.platform.android? %>
    <a href="/download">
      <!-- place this image in a public/ folder -->
      <img src='sms-badge.png' />
    </a>
  <% end %>
</p>
